@font-face {
  font-family: 'silkalight';
  src: url('fonts/silka-light-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-light-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkathin';
  src: url('fonts/silka-thin-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-thin-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkablack';
  src: url('fonts/silka-black-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-black-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkaregular';
  src: url('fonts/silka-regular-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #070D0D;
}
html,
body {
  height: 100%;
	overflow: hidden;
}
canvas {
  display: block;
}
/* background color top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: rgba(245, 245, 245, 0.5);
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 16px;
font-family: 'silkalight';
-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Change the color of links on hover */
.topnav a:hover {
color: #f5f5f5;
font-family: 'silkaregular';
}

/* Add a color to the active/current link */
.topnav a.active {
color: whitesmoke;
font-family: 'silkaregular';
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}
.nonya-nav {
  height: 24px;
  height: 24px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  list-style-type: none;
  font-family: 'silkalight';
  font-size: 14px;
  background-color: transparent;
  color: rgba(245, 245, 245, 0.5);
  padding: 1px 16px;
  float: left;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
 }

 .footer a {
  color: rgba(245, 245, 245, 0.5);
  text-decoration: none; 
 }

 .footer a:hover {
  color: #f5f5f5;
  font-family: 'silkaregular';
 }

 form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:whitesmoke;
  font-family: 'silkalight';
  font-weight:500;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  border: none;
  outline:0;
}
input::-webkit-input-placeholder {
  color: rgba(245, 245, 245, 0.5);
  font-family: 'silkalight';
}
input:focus::-webkit-input-placeholder {
  font-family: 'silkaregular';
  color: whitesmoke;
}
textarea {
  height: 200px;
  line-height: 150%;
  resize:none;
}
textarea:focus::-webkit-input-placeholder {
  color: whitesmoke;
  font-family: 'silkaregular';
}
textarea::-webkit-input-placeholder {
  color: rgba(245, 245, 245, 0.5);
  font-family: 'silkalight';
}
textarea::-webkit-scrollbar {
  width: 10px;
}
textarea::-webkit-scrollbar-track {
  background:transparent;
}
textarea::-webkit-scrollbar-thumb {
  background-color: rgba(245, 245, 245, 0.5);
  border-radius: 10px;
}
textarea::-webkit-scrollbar-thumb:hover {
  background-color:whitesmoke;
  border-radius: 10px;
}
[type="submit"] {
  font-family: 'silkalight';
  width: 100%;
  background:transparent;

  border:0;
  cursor:pointer;
  color:rgba(245, 245, 245, 0.5);
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
}
[type="submit"]:hover { 
color: whitesmoke;
font-family: 'silkaregular'; 
}

/*thankyou*/

h1 {
text-align: center;
vertical-align: middle;
font-family: 'silkathin';
font-size: 56px;
color: whitesmoke;
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.about-gif{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  z-index:-5
}

