@font-face {
  font-family: 'silkalight';
  src: url('fonts/silka-light-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-light-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkathin';
  src: url('fonts/silka-thin-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-thin-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkablack';
  src: url('fonts/silka-black-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-black-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkaregular';
  src: url('fonts/silka-regular-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #070D0D;
}
html,
body {
  height: 95%;
	overflow: hidden;
}
canvas {
  display: block;
}
ul {
display: flex;
justify-content: right;
padding: 0;
background-color: transparent;
}
li {
  float: centre;
}
li a {
  display: block;
  font-family: 'silkalight';
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 1px 16px;
  text-decoration: none;
}
li a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'silkalight';
  font-size: 10px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding: 1px 16px;
  text-align: left;
} 
.p1 {
  font-family: 'silkalight';
  font-size: 72px;
  color: white;
  text-align: center;
  height:480px; padding-top: 80px;
}