@font-face {
  font-family: 'silkalight';
  src: url('fonts/silka-light-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-light-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkathin';
  src: url('fonts/silka-thin-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-thin-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkablack';
  src: url('fonts/silka-black-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-black-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'silkaregular';
  src: url('fonts/silka-regular-webfont-webfont.woff2') format('woff2'),
       url('fonts/silka-regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  background-color: #070D0D;
}
html,
body {
  height: 100%;
	overflow: hidden;
}
canvas {
  display: block;
}
/* background color top navigation */
.topnav {
  background-color: transparent;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f5f5f580;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 16px;
font-family: 'silkalight';
-webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Change the color of links on hover */
.topnav a:hover {
color: #f5f5f5;
}

/* Add a color to the active/current link */
.topnav a.active {
color: whitesmoke;
font-family: 'silkaregular';
}

/* Right-aligned section inside the top navigation */
.topnav-right {
float: right;
}
.nonya-nav {
  height: 24px;
  height: 24px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family: 'silkalight';
  font-size: 10px;
  background-color: transparent;
  color: rgba(245, 245, 245, 0.5);
  padding: 1px 16px;
  float: left;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
 }